<div class="card">
    <div class="card-body">
      <div class="m-4">
        <h2 class="mb-4">{{ isEditMode ? 'Editar Servicio' : 'Registrar Servicio' }}</h2>
        <form [formGroup]="serviceForm" (ngSubmit)="onSubmit()" class="mt-3">
          
          <!-- Nombre del Servicio -->
          <div class="row mb-3">
            <div class="col-md-6">
              <div class="d-flex justify-content-between align-items-center">
                <label for="name" class="form-label">Nombre del Servicio</label>
                <input id="name" formControlName="name" class="form-control" placeholder="Ingrese el nombre"
                       [ngClass]="{
                         'is-invalid': serviceForm.get('name')?.invalid && serviceForm.get('name')?.touched, 
                         'is-valid': serviceForm.get('name')?.valid && serviceForm.get('name')?.touched
                       }" />
              </div>
              <div class="invalid-feedback" *ngIf="serviceForm.get('name')?.invalid && serviceForm.get('name')?.touched">
                El nombre es requerido.
              </div>
            </div>
  
            <!-- CUIT del Servicio -->
            <div class="col-md-6">
              <div class="d-flex justify-content-between align-items-center">
                <label for="cuit" class="form-label">CUIT</label>
                <input id="cuit" formControlName="cuit" class="form-control" placeholder="Ingrese el CUIT"
                       [ngClass]="{
                         'is-invalid': serviceForm.get('cuit')?.invalid && serviceForm.get('cuit')?.touched, 
                         'is-valid': serviceForm.get('cuit')?.valid && serviceForm.get('cuit')?.touched
                       }" />
              </div>
              <div class="invalid-feedback" *ngIf="serviceForm.get('cuit')?.invalid && serviceForm.get('cuit')?.touched">
                El CUIT es requerido.
              </div>
            </div>
          </div>
  
          <!-- Tipo de Servicio y Contacto -->
          <div class="row mb-3">
            <div class="col-md-6">
              <div class="d-flex justify-content-between align-items-center">
                <label for="type" class="form-label">Tipo de Servicio</label>
                <input id="type" formControlName="type" class="form-control" placeholder="Ingrese el tipo de servicio"
                       [ngClass]="{
                         'is-invalid': serviceForm.get('type')?.invalid && serviceForm.get('type')?.touched, 
                         'is-valid': serviceForm.get('type')?.valid && serviceForm.get('type')?.touched
                       }" />
              </div>
              <div class="invalid-feedback" *ngIf="serviceForm.get('type')?.invalid && serviceForm.get('type')?.touched">
                El tipo de servicio es requerido.
              </div>
            </div>
  
            <div class="col-md-6">
              <div class="d-flex justify-content-between align-items-center">
                <label for="contact" class="form-label">Contacto</label>
                <input id="contact" formControlName="contact" class="form-control" placeholder="Ingrese el contacto"
                       [ngClass]="{
                         'is-invalid': serviceForm.get('contact')?.invalid && serviceForm.get('contact')?.touched, 
                         'is-valid': serviceForm.get('contact')?.valid && serviceForm.get('contact')?.touched
                       }" />
              </div>
              <div class="invalid-feedback" *ngIf="serviceForm.get('contact')?.invalid && serviceForm.get('contact')?.touched">
                El contacto es requerido.
              </div>
            </div>
          </div>
  
          <!-- Dirección -->
          <div class="row mb-3">
            <div class="col-md-12">
              <div class="d-flex justify-content-between align-items-center">
                <label for="address" class="form-label">Dirección</label>
                <input id="address" formControlName="address" class="form-control" placeholder="Ingrese la dirección"
                       [ngClass]="{
                         'is-invalid': serviceForm.get('address')?.invalid && serviceForm.get('address')?.touched, 
                         'is-valid': serviceForm.get('address')?.valid && serviceForm.get('address')?.touched
                       }" />
              </div>
              <div class="invalid-feedback" *ngIf="serviceForm.get('address')?.invalid && serviceForm.get('address')?.touched">
                La dirección es requerida.
              </div>
            </div>
          </div>
  
          <!-- Detalles -->
          <div class="row mb-4">
            <div class="col-md-12">
              <div class="d-flex justify-content-between align-items-center">
                <label for="details" class="form-label">Detalles</label>
                <textarea id="details" formControlName="details" class="form-control" placeholder="Ingrese los detalles"
                          [ngClass]="{
                            'is-invalid': serviceForm.get('details')?.invalid && serviceForm.get('details')?.touched, 
                            'is-valid': serviceForm.get('details')?.valid && serviceForm.get('details')?.touched
                          }">
                </textarea>
              </div>
              <div class="invalid-feedback" *ngIf="serviceForm.get('details')?.invalid && serviceForm.get('details')?.touched">
                Los detalles son requeridos.
              </div>
            </div>
          </div>
  
          <!-- Botones de Guardar y Cancelar -->
          <div class="d-flex justify-content-end gap-2">
            <button type="button" class="btn btn-danger" (click)="resetForm()" >Cancelar </button>
            <button type="submit" class="btn btn-primary" [disabled]="serviceForm.invalid">{{ isEditMode ? 'Actualizar' : 'Guardar' }}</button>
          </div>
          <div class="d-flex justify-content-end mt-3">
            <button class="btn btn-secondary custom-button" (click)="showInfo()">
              <i class="bi bi-info-circle"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
</div>
  