<div class="card">
  <div class="card-body">
    <div class="container">
      <form [formGroup]="serviceForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <h2 class="h1 mb-4">{{ isEditMode ? 'Editar Empresa' : 'Registrar Empresa' }}</h2>

        <!-- Primera fila - Dos columnas -->
         <div class="row mb-3">
            <!-- Nombre -->
           <div class="col-md-6">
            <div class="form-group">
              <div class="d-flex align-items-center mb-1">
                <label for="name" class="form-label">
                  Nombre <span class="text-danger">*</span>
                </label>
                <input
                  id="name"
                  formControlName="name"
                  class="form-control ms-2"
                  placeholder="Ingrese el nombre"
                  [ngClass]="{
                    'is-valid': serviceForm.get('name')?.valid && serviceForm.get('name')?.touched,
                    'is-invalid': serviceForm.get('name')?.invalid && serviceForm.get('name')?.touched
                    }"
                  />
              </div>
              <div class="error-container">
                <small
                  *ngIf="serviceForm.get('name')?.hasError('required') && serviceForm.get('name')?.touched"
                  class="text-danger"
                  >
                  El nombre es requerido.
                </small>
                <small
                *ngIf="serviceForm.get('name')?.hasError('minlength') && serviceForm.get('name')?.touched"
                class="text-danger"
                >
                El nombre debe tener al menos 3 caracteres.
                </small>
              </div>
            </div>
          </div>
          
          <!-- CUIT -->
          <div class="col-md-6">
            <div class="form-group">
              <div class="d-flex align-items-center mb-1">
                <label for="cuit" class="form-label">
                  CUIT <span class="text-danger">*</span>
                </label>
                <input
                  id="cuit"
                  formControlName="cuit"
                  class="form-control ms-2"
                  placeholder="Ingrese el CUIT"
                  [ngClass]="{
                  'is-valid': serviceForm.get('cuit')?.valid && serviceForm.get('cuit')?.touched,
                  'is-invalid': serviceForm.get('cuit')?.invalid && serviceForm.get('cuit')?.touched
                  }"
                />
              </div>
              <div class="error-container">
                  <small
                  *ngIf="serviceForm.get('cuit')?.hasError('required') && serviceForm.get('cuit')?.touched"
                  class="text-danger"
                  >
                  El CUIT es requerido.
                </small>
                <small
                *ngIf="serviceForm.get('cuit')?.hasError('maxlength') && serviceForm.get('cuit')?.touched"
                class="text-danger"
                >
                El CUIT no puede tener más de 11 caracteres.
                </small>
              </div>
            </div>
          </div>
      </div>

        <!-- Segunda fila - Dos columnas -->
        <div class="row mb-3">
          <!-- Tipo de Servicio -->
          <div class="col-md-6">
            <div class="form-group">
              <div class="d-flex align-items-center mb-1">
                <label for="type" class="form-label">
                  Tipo de Servicio <span class="text-danger">*</span>
                </label>
                <input
                  id="type"
                  formControlName="type"
                  class="form-control ms-2"
                  placeholder="Ingrese el tipo de servicio"
                  [ngClass]="{
                    'is-valid': serviceForm.get('type')?.valid && serviceForm.get('type')?.touched,
                    'is-invalid': serviceForm.get('type')?.invalid && serviceForm.get('type')?.touched
                  }"
                />
              </div>
              <div class="error-container">
                <small
                  *ngIf="serviceForm.get('type')?.invalid && serviceForm.get('type')?.touched"
                  class="text-danger"
                >
                  El tipo de servicio es requerido.
                </small>
              </div>
            </div>
          </div>

          <!-- Contacto -->
          <div class="col-md-6">
            <div class="form-group">
              <div class="d-flex align-items-center mb-1">
                <label for="contact" class="form-label">
                  Contacto <span class="text-danger">*</span>
                </label>
                <input
                  id="contact"
                  formControlName="contact"
                  class="form-control ms-2"
                  placeholder="Ingrese el contacto"
                  [ngClass]="{
                    'is-valid': serviceForm.get('contact')?.valid && serviceForm.get('contact')?.touched,
                    'is-invalid': serviceForm.get('contact')?.invalid && serviceForm.get('contact')?.touched
                  }"
                />
              </div>
              <div class="error-container">
                <small
                  *ngIf="serviceForm.get('contact')?.invalid && serviceForm.get('contact')?.touched"
                  class="text-danger"
                >
                  El contacto es requerido.
                </small>
              </div>
            </div>
          </div>
        </div>

        <!-- Tercera fila - Una columna -->
        <div class="row mb-3">
          <!-- Dirección -->
          <div class="col-md-6">
            <div class="form-group">
              <div class="d-flex align-items-center mb-1">
                <label for="address" class="form-label">
                  Dirección <span class="text-danger">*</span>
                </label>
                <input
                  id="address"
                  formControlName="address"
                  class="form-control ms-2"
                  placeholder="Ingrese la dirección"
                  [ngClass]="{
                    'is-valid': serviceForm.get('address')?.valid && serviceForm.get('address')?.touched,
                    'is-invalid': serviceForm.get('address')?.invalid && serviceForm.get('address')?.touched
                  }"
                />
              </div>
              <div class="error-container">
                <small
                  *ngIf="serviceForm.get('address')?.invalid && serviceForm.get('address')?.touched"
                  class="text-danger"
                >
                  La dirección es requerida.
                </small>
              </div>
            </div>
          </div>
        </div>

        <!-- Cuarta fila - Una columna -->
        <div class="row mb-4">
          <!-- Detalles -->
          <div class="col-md-12">
            <div class="form-group">
              <div class="d-flex align-items-start mb-1">
                <label for="details" class="form-label-detail">
                  Detalles <span class="text-danger">*</span>
                </label>
                <textarea
                  id="details"
                  formControlName="details"
                  class="form-control ms-2"
                  placeholder="Ingrese los detalles"
                  style="height: 100px;"
                  [ngClass]="{
                    'is-valid': serviceForm.get('details')?.valid && serviceForm.get('details')?.touched,
                    'is-invalid': serviceForm.get('details')?.invalid && serviceForm.get('details')?.touched
                  }"
                ></textarea>
              </div>
              <div class="error-container">
                <small
                  *ngIf="serviceForm.get('details')?.invalid && serviceForm.get('details')?.touched"
                  class="text-danger"
                >
                  Los detalles son requeridos.
                </small>
              </div>
            </div>
          </div>
        </div>

        <!-- Botones -->
        <div class="d-flex justify-content-end gap-2">
          <button type="button" class="btn btn-danger" (click)="resetForm()">
            Cancelar
          </button>
          <button type="submit" class="btn btn-primary" [disabled]="serviceForm.invalid">
            {{ isEditMode ? 'Actualizar' : 'Guardar' }}
          </button>
        </div>

        <!-- Botón de información -->
        <div class="d-flex justify-content-end mt-3">
          <button class="custom-button" (click)="showInfo()">
            <i class="bi bi-info-circle"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>