<app-main-container [title]="!isEdit ? 'Registrar Empleado' : 'Modificar Empleado'" (infoButtonClick)="showInfo()">
  <form [formGroup]="employeeForm" (ngSubmit)="saveEmployee()" class="row g-3 m-2">
    
    <!-- Nombre y Apellido -->
    <div class="col-md-6">
      <div class="flex-row d-flex align-items-center">
        <label for="firstName" class="col-form-label col-md-2">Nombre<label class="text-danger">*</label></label>
        <input type="text" class="form-control m-2" id="firstName" formControlName="firstName"
          
          [ngClass]="{'is-invalid': employeeForm.get('firstName')?.invalid && employeeForm.get('firstName')?.touched,
                     'is-valid': employeeForm.get('firstName')?.valid && employeeForm.get('firstName')?.touched}">
      </div>
      <div>
        @if (employeeForm.get('firstName')?.invalid && employeeForm.get('firstName')?.touched) {
          <small class="text-danger ms-2">Nombre es requerido</small>
        }
      </div>
    </div>
 
    <div class="col-md-6">
      <div class="flex-row d-flex align-items-center">
        <label for="lastName" class="col-form-label col-md-2">Apellido<label class="text-danger">*</label></label>
        <input type="text" class="form-control m-2" id="lastName" formControlName="lastName"
         
          [ngClass]="{'is-invalid': employeeForm.get('lastName')?.invalid && employeeForm.get('lastName')?.touched,
                     'is-valid': employeeForm.get('lastName')?.valid && employeeForm.get('lastName')?.touched}">
      </div>
      <div>
        @if (employeeForm.get('lastName')?.invalid && employeeForm.get('lastName')?.touched) {
          <small class="text-danger ms-2">Apellido es requerido</small>
        }
      </div>
    </div>
 
    <!-- Tipo y Fecha de Contratación -->
    <div class="col-md-6">
      <div class="flex-row d-flex align-items-center">
        <label for="employeeType" class="col-form-label col-md-2">Rol<label class="text-danger">*</label></label>
        <select class="form-select m-2" id="employeeType" formControlName="employeeType"
          [ngClass]="{'is-invalid': employeeForm.get('employeeType')?.invalid && employeeForm.get('employeeType')?.touched,
                     'is-valid': employeeForm.get('employeeType')?.valid && employeeForm.get('employeeType')?.touched}">
          <option value="" disabled>Seleccione Rol</option>
          <option *ngFor="let type of employeeTypes" [value]="type">{{ type }}</option>
        </select>
      </div>
      <div>
        @if (employeeForm.get('employeeType')?.invalid && employeeForm.get('employeeType')?.touched) {
          <small class="text-danger ms-2">Rol es requerido</small>
        }
      </div>
    </div>
 
    <div class="col-md-6">
      <div class="flex-row d-flex align-items-center">
        <label for="hiringDate" class="col-form-label col-md-2">Fecha de Contratación<label class="text-danger">*</label></label>
        <input type="date" class="form-control m-2" id="hiringDate" formControlName="hiringDate"
          [ngClass]="{'is-invalid': employeeForm.get('hiringDate')?.invalid && employeeForm.get('hiringDate')?.touched,
                     'is-valid': employeeForm.get('hiringDate')?.valid && employeeForm.get('hiringDate')?.touched}">
      </div>
      <div>
        @if (employeeForm.get('hiringDate')?.invalid && employeeForm.get('hiringDate')?.touched) {
          <small class="text-danger ms-2">Fecha es requerida</small>
        }
      </div>
    </div>
 
    <!-- Documento -->
    <div class="col-md-6">
      <div class="flex-row d-flex align-items-center">
        <label for="documentType" class="col-form-label col-md-2">Tipo de Documento<label class="text-danger">*</label></label>
        <select class="form-select m-2" id="documentType" formControlName="documentType"
          [ngClass]="{'is-invalid': employeeForm.get('documentType')?.invalid && employeeForm.get('documentType')?.touched,
                     'is-valid': employeeForm.get('documentType')?.valid && employeeForm.get('documentType')?.touched}">
          <option value="" disabled>Seleccione tipo de documento</option>
          <option *ngFor="let type of documentTypes" [value]="type">{{ type }}</option>
        </select>
      </div>
      <div>
        @if (employeeForm.get('documentType')?.invalid && employeeForm.get('documentType')?.touched) {
          <small class="text-danger ms-2">Tipo de documento es requerido</small>
        }
      </div>
    </div>
 
    <div class="col-md-6">
      <div class="flex-row d-flex align-items-center">
        <label for="docNumber" class="col-form-label col-md-2">Documento<label class="text-danger">*</label></label>
        <input type="text" class="form-control m-2" id="docNumber" formControlName="docNumber"
           style="text-align: left;"
          [ngClass]="{'is-invalid': employeeForm.get('docNumber')?.invalid && employeeForm.get('docNumber')?.touched,
                     'is-valid': employeeForm.get('docNumber')?.valid && employeeForm.get('docNumber')?.touched}">
      </div>
      <div>
        @if (employeeForm.get('docNumber')?.invalid && employeeForm.get('docNumber')?.touched) {
          <small class="text-danger ms-2">Documento es requerido</small>
        }
      </div>
    </div>
 
    <!-- Salario -->
    <div class="col-md-6">
      <div class="flex-row d-flex align-items-center">
        <label for="salary" class="col-form-label col-md-2">Salario<label class="text-danger">*</label></label>
        <div class="input-group m-2">
            <span class="input-group-text">$</span>
            <input type="number" class="form-control" id="salary" formControlName="salary"
                 style="text-align: right;"
                [ngClass]="{'is-invalid': (employeeForm.get('salary')?.touched && employeeForm.get('salary')?.invalid) || 
                                       (employeeForm.get('salary')?.touched && employeeForm.get('salary')?.value === 0),
                           'is-valid': employeeForm.get('salary')?.touched && employeeForm.get('salary')?.valid && employeeForm.get('salary')?.value !== 0}">
        </div>
      </div>    
      <div>
        @if (employeeForm.get('salary')?.touched && (employeeForm.get('salary')?.invalid || employeeForm.get('salary')?.value === 0)) {
          <small class="text-danger ms-2">Salario es requerido</small>
      }      
      </div>
    </div>
 

    
 
    <div class="mb-3"></div>
<!-- @if (!isEdit) { -->
  <hr>
  <!-- Dirección -->
  <div class="col-12">
    <div class="">
      <div class="">
        <h5 class=" mb-0">Dirección</h5>
      </div>
      <div class="">
        <div formGroupName="address" class="row">
          <!-- Calle y Número -->
          <div class="col-md-6">
            <div class="flex-row d-flex align-items-center mb-3">
              <label for="street_address" class="col-form-label col-md-2">Calle<label class="text-danger">*</label></label>
              <input type="text" class="form-control m-2" id="street_address" formControlName="street_address"
                
                [ngClass]="{'is-invalid': employeeForm.get('address.street_address')?.invalid && employeeForm.get('address.street_address')?.touched,
                           'is-valid': employeeForm.get('address.street_address')?.valid}">
            </div>
            <div>
              @if (employeeForm.get('address.street_address')?.invalid && employeeForm.get('address.street_address')?.touched) {
                <small class="text-danger ms-2">La calle es requerida</small>
              }
            </div>
          </div>

          <div class="col-md-6">
            <div class="flex-row d-flex align-items-center mb-3">
              <label for="number" class="col-form-label col-md-2">Número<label class="text-danger">*</label></label>
              <input type="number" class="form-control m-2" id="number" formControlName="number"
                 style="text-align: right;"
                [ngClass]="{'is-invalid': employeeForm.get('address.number')?.invalid && employeeForm.get('address.number')?.touched,
                           'is-valid': employeeForm.get('address.number')?.valid && employeeForm.get('address.number')?.value !== 0}">
            </div>
            <div>
              @if (employeeForm.get('address.number')?.invalid && employeeForm.get('address.number')?.touched) {
                <small class="text-danger ms-2">El número es requerido</small>
              }
            </div>
          </div>

          <!-- Piso y Departamento -->
          <div class="col-md-6">
            <div class="flex-row d-flex align-items-center mb-3">
              <label for="floor" class="col-form-label col-md-2">Piso</label>
              <input type="number" class="form-control m-2" id="floor" formControlName="floor"
                 style="text-align: right;">
            </div>
          </div>

          <div class="col-md-6">
            <div class="flex-row d-flex align-items-center mb-3">
              <label for="apartment" class="col-form-label col-md-2">Departamento</label>
              <input type="text" class="form-control m-2" id="apartment" formControlName="apartment"
                >
            </div>
          </div>

          <!-- País y Provincia -->
          <div class="col-md-6">
            <div class="flex-row d-flex align-items-center mb-3">
              <label for="country" class="col-form-label col-md-2">País<label class="text-danger">*</label></label>
              <select id="country" type="select" class="form-control m-2" id="country" formControlName="country"
                
                [ngClass]="{'is-invalid': employeeForm.get('address.country')?.invalid && employeeForm.get('address.country')?.touched,
                'is-valid': employeeForm.get('address.country')?.valid}">
                <option *ngFor="let country of countryOptions" [value]="country.value">{{ country.display }}</option>
              </select>
            </div>
            <div>
              <small class="text-danger ms-2" *ngIf="employeeForm.get('address.country')?.invalid && employeeForm.get('address.country')?.touched">El país es requerido</small>
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="flex-row d-flex align-items-center mb-3">
              <label for="province" class="col-form-label col-md-2">Provincia<label class="text-danger">*</label></label>
              <select id="province" type="select" class="form-control m-2" formControlName="province"
                
                [ngClass]="{'is-invalid': employeeForm.get('address.province')?.invalid && employeeForm.get('address.province')?.touched,
                'is-valid': employeeForm.get('address.province')?.valid}">
                <option *ngFor="let province of provinceOptions" [value]="province.value">{{ province.display }}</option>
              </select>
            </div>
            <div>
              <small class="text-danger ms-2" *ngIf="employeeForm.get('address.province')?.invalid && employeeForm.get('address.province')?.touched">La provincia es requerida</small>
            </div>
          </div>

          <!-- Ciudad y Código Postal -->
          <div class="col-md-6">
            <div class="flex-row d-flex align-items-center mb-3">
              <label for="city" class="col-form-label col-md-2">Ciudad<label class="text-danger">*</label></label>
              <input type="text" class="form-control m-2" id="city" formControlName="city"
                
                [ngClass]="{'is-invalid': employeeForm.get('address.city')?.invalid && employeeForm.get('address.city')?.touched,
                           'is-valid': employeeForm.get('address.city')?.valid}">
            </div>
            <div>
              @if (employeeForm.get('address.city')?.invalid && employeeForm.get('address.city')?.touched) {
                <small class="text-danger ms-2">La ciudad es requerida</small>
              }
            </div>
          </div>

        <div class="col-md-6">
          <div class="flex-row d-flex align-items-center mb-3">
            <label for="postal_code" class="col-form-label col-md-2">Código Postal<label class="text-danger">*</label></label>
            <input type="number" class="form-control m-2" id="postal_code" formControlName="postal_code"
               style="text-align: right;"
              [ngClass]="{'is-invalid': employeeForm.get('address.postal_code')?.invalid && employeeForm.get('address.postal_code')?.touched,
                         'is-valid': employeeForm.get('address.postal_code')?.valid && employeeForm.get('address.postal_code')?.value !== 0}">
          </div>
          <div>
            @if (employeeForm.get('address.postal_code')?.invalid && employeeForm.get('address.postal_code')?.touched) {
              <small class="text-danger ms-2">El código postal es requerido</small>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- } -->

  <div class="mb-3"></div>
  <hr>


  <!-- Contacto -->
  <div formGroupName="contactsForm" class="row g-3 pb-5">
    <h5 class="mt-2 p-2 pb-4">Añadir Contactos</h5>
    <div class="row">
      <div class="col-md-4 mx-auto">
        <div class="row g-0 align-items-center">
          <div class="col-auto">
            <label for="contact-type" class="col-form-label me-2">Tipo Contacto</label>
          </div>
          <div class="col">
            <select id="contact-type" class="form-select" formControlName="contactType"
              (change)="changeContactType($event)">
              <option disabled selected>Selecciona un tipo</option>
              <option value="PHONE">Telefono</option>
              <option value="EMAIL">Email</option>
              <option value="SOCIAL_MEDIA_LINK">Link red social</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-md-6 mx-auto">
        <div class="row g-0 align-items-center">
          <div class="col-auto">
            <label for="contact-info" class="col-form-label me-2">Contacto</label>
          </div>
          <div class="col">
            <input type="text" class="form-control" id="contact-info" formControlName="contactValue" />
          </div>
        </div>
        <div class="col">
          @if(employeeForm.get('contactsForm.contactValue')?.invalid &&
          employeeForm.get('contactsForm.contactValue')?.touched ) {
          @if(employeeForm.get('contactsForm.contactValue')?.errors?.['email']){
          <small class="text-danger">Email inválido</small>
          } }
        </div>
      </div>
      <!-- Botones para agregar y cancelar contactos -->
      <!-- <div class="col-md-1 d-flex justify-content-center">
        <button type="button" class="btn btn-outline-primary me-2" (click)="addContact()">
          <i class="bi bi-plus-lg"></i>
        </button>
        @if (contactIndex !== undefined) {
        <button type="button" class="btn btn-outline-danger" (click)="cancelEditContact()">
          <i class="bi bi-x-lg"></i>
        </button>
        }
      </div> -->
    </div>
    @if (contacts.length !== 0) {

    <div class="col-12">
      <h5 class="mb-3">Lista de Contactos</h5>
      <div class="list-group">
        @for (contact of contacts; track $index) {
        <div class="d-flex justify-content-between align-items-center mb-2">
          <button type="button" class="list-group-item list-group-item-action btn btn-primary btn-sm me-2"
            (click)="setContactValue($index)">
            {{ contact.contactType }} - {{ contact.contactValue }}
          </button>
          @if (!id) {
          <button type="button" class="btn btn-danger btn-sm" (click)="removeContact($index)">
            <i class="bi bi-trash-fill"></i>
          </button>
          }
        </div>
        }
      </div>
    </div>
    }
  </div>

  <!-- Botones -->
  <div class="col-12 d-flex justify-content-end">
    @if (!currentEmployeeId) {
      <div class="mx-2">
        <button type="button" class="btn btn-danger" (click)="onCancel()">Cancelar</button>
      </div>
      <div>
        <button type="submit" class="btn btn-primary" [disabled]="employeeForm.invalid">
          {{ !isEdit ? 'Guardar' : 'Modificar' }}
        </button>
      </div>
    }
  </div>
</form>
</app-main-container>

<!-- Template del Modal Info -->
<ng-template #infoModal let-modal>
<div class="modal-header fs-6 py-1">
  <h4 class="modal-title">Formulario de Empleados</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
</div>
<div class="modal-body fs-6 py-2">
  <div class="container-fluid">
    <div class="alert alert-info mb-2 py-2">
      <h5 class="alert-heading">¿Qué es esta pantalla?</h5>
      <p class="mb-0 small">Esta pantalla te permite registrar/actualizar un empleado.</p>
    </div>

    <div class="card mb-2">
      <div class="card-header py-1">
        <h5 class="mb-0">Datos de Empleados</h5>
      </div>
      <div class="card-body py-2">
        <ul class="list-group list-group-flush">
          <li class="list-group-item py-1">
            <strong>Campos a ingresar:</strong> Se solicitarán: Nombre, Apellido, Tipo, Documento, 
            Tipo de Documento, Salario y Fecha de Contratación.
          </li>
          <li class="list-group-item py-1">
            <strong>ATENCIÓN:</strong> La opción de GUARDAR solo se habilitará si todos los campos 
            se encuentran correctamente completados.
          </li>
        </ul>
      </div>
    </div>

    <div class="card mb-2">
      <div class="card-header py-1">
        <h5 class="mb-0">Acciones Disponibles</h5>
      </div>
      <div class="card-body py-2">
        <ul class="list-group list-group-flush">
          <li class="list-group-item py-1">
            <strong>Guardar:</strong> En caso de que todos los campos se encuentren correctamente 
            completados se guardará el nuevo empleado.
          </li>
          <li class="list-group-item py-1">
            <strong>Cancelar:</strong> Se cancela el registro o la actualización del empleado y nos 
            devuelve al listado de empleados.
          </li>
        </ul>
      </div>
    </div>

    <div class="alert alert-warning py-2 mb-0">
      <h5 class="alert-heading">Nota:</h5>
      <p class="mb-0 small">Asegúrate de verificar la información antes de modificar, ingresar o 
        eliminar un empleado.</p>
    </div>
  </div>
</div>
<div class="modal-footer py-2">
  <button type="button" class="btn btn-primary" (click)="modal.close()">Entendido</button>
</div>

</ng-template>
<!-- Metodo Viejo que llama a accesos -->
<!-- @if (currentEmployeeId) {
  <div class="mt-0">
    <app-employee-access
      [employeeId]="currentEmployeeId"
      (schedulesSaved)="startNewEmployee()"
    ></app-employee-access>
  </div>
  } -->
  <!-- Template del Modal de Accesos Nuevo-->
  <ng-template #accessModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Configuración de Accesos</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
      <app-employee-access
        [employeeId]="currentEmployeeId"
        (schedulesSaved)="onAccessSaved()"
      ></app-employee-access>
    </div>
  </ng-template>


<!-- <div class="card">
  <div class="card-body">
    <div class="form-container">
          <form [formGroup]="employeeForm" (ngSubmit)="saveEmployee()" >
              @if(!isEdit){
                <h2 class="h1 mb-4">Registrar Empleado</h2>
                } @else {
                <h2 class="h1 mb-4">Modificar Empleado</h2>
                }
              <div class="row mb-3">
                <div class="col-md-6 ">
                  <div class="row align-items-center">
                    <label for="firstName" class="col-4 mb-0">
                      Nombre <span class="text-danger">*</span>
                    </label>
                    <div class="col-8">
                      <div class="position-relative">
                        <input
                          type="text"
                          formControlName="firstName"
                          class="form-control"
                          [ngClass]="{
                            'is-valid': employeeForm.get('firstName')?.valid,
                            'is-invalid': employeeForm.get('firstName')?.invalid && employeeForm.get('firstName')?.touched
                          }"
                          id="firstName"
                          placeholder="Ingrese el nombre"
                        />
                        <div *ngIf="employeeForm.get('firstName')?.valid"
                             class="valid-feedback position-absolute top-0 end-0">
                        </div>
                        <div *ngIf="employeeForm.get('firstName')?.invalid && employeeForm.get('firstName')?.touched"
                             class="invalid-feedback">
                          Nombre es requerido
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="row align-items-center">
                    <label for="lastName" class="col-4 mb-0">
                      Apellido <span class="text-danger">*</span>
                    </label>
                    <div class="col-8">
                      <div class="position-relative">
                        <input
                          type="text"
                          formControlName="lastName"
                          class="form-control"
                          [ngClass]="{
                            'is-valid': employeeForm.get('lastName')?.valid,
                            'is-invalid': employeeForm.get('lastName')?.invalid && employeeForm.get('lastName')?.touched
                          }"
                          id="lastName"
                          placeholder="Ingrese el apellido"
                        />
                        <div *ngIf="employeeForm.get('lastName')?.valid"
                             class="valid-feedback position-absolute top-0 end-0">
                        </div>
                        <div *ngIf="employeeForm.get('lastName')?.invalid && employeeForm.get('lastName')?.touched"
                             class="invalid-feedback">
                          Apellido es requerido
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md-6 mb-3 mb-md-0">
                  <div class="row align-items-center">
                    <label for="employeeType" class="col-4 mb-0">
                      Rol <span class="text-danger">*</span>
                    </label>
                    <div class="col-8">
                      <div class="position-relative">
                        <select
                          formControlName="employeeType"
                          class="form-select"
                          [ngClass]="{
                            'is-valid': employeeForm.get('employeeType')?.valid &&
                                       employeeForm.get('employeeType')?.touched
                                       ,
                            'is-invalid': employeeForm.get('employeeType')?.invalid &&
                                         employeeForm.get('employeeType')?.touched &&
                                         employeeForm.get('employeeType')?.value !== 'ADMINISTRATIVO'
                          }"
                          id="employeeType"
                        >
                          <option value="" disabled>Seleccione Rol</option>
                          <option *ngFor="let type of employeeTypes" [value]="type">
                            {{ type }}
                          </option>
                        </select>
                        <div *ngIf="employeeForm.get('employeeType')?.valid"
                             class="valid-feedback position-absolute top-0 end-0">
                        </div>
                        <div *ngIf="employeeForm.get('employeeType')?.invalid && employeeForm.get('employeeType')?.touched"
                             class="invalid-feedback">
                          Rol es requerido
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="row align-items-center">
                    <label for="hiringDate" class="col-4 mb-0">
                      Fecha de Contratación <span class="text-danger">*</span>
                    </label>
                    <div class="col-8">
                      <div class="position-relative">
                        <input
                          type="date"
                          formControlName="hiringDate"
                          class="form-control"
                          [ngClass]="{
                            'is-valid': employeeForm.get('hiringDate')?.valid &&
                                       employeeForm.get('hiringDate')?.touched &&
                                       employeeForm.get('hiringDate')?.value,
                            'is-invalid': employeeForm.get('hiringDate')?.invalid &&
                                         employeeForm.get('hiringDate')?.touched
                          }"
                          id="hiringDate"
                        />
                        <div *ngIf="employeeForm.get('hiringDate')?.valid"
                             class="valid-feedback position-absolute top-0 end-0">
                        </div>
                        <div *ngIf="employeeForm.get('hiringDate')?.invalid && employeeForm.get('hiringDate')?.touched"
                             class="invalid-feedback">
                          Fecha es requerida
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md-6 mb-3 mb-md-0">
                  <div class="row align-items-center">
                    <label for="documentType" class="col-4 mb-0">
                      Tipo de Documento <span class="text-danger">*</span>
                    </label>
                    <div class="col-8">
                      <div class="position-relative">
                        <select
                          formControlName="documentType"
                          class="form-select"
                          [ngClass]="{
                            'is-valid': employeeForm.get('documentType')?.valid &&
                                       employeeForm.get('documentType')?.touched ,
                            'is-invalid': employeeForm.get('documentType')?.invalid &&
                                         employeeForm.get('documentType')?.touched
                          }"
                          id="documentType"
                        >
                          <option value="" disabled>Seleccione tipo de documento</option>
                          <option *ngFor="let type of documentTypes" [value]="type">
                            {{ type }}
                          </option>
                        </select>
                        <div *ngIf="employeeForm.get('documentType')?.valid"
                             class="valid-feedback position-absolute top-0 end-0">
                        </div>
                        <div *ngIf="employeeForm.get('documentType')?.invalid && employeeForm.get('documentType')?.touched"
                             class="invalid-feedback">
                          Tipo de documento es requerido
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="row align-items-center">
                    <label for="docNumber" class="col-4 mb-0">
                      Documento <span class="text-danger">*</span>
                    </label>
                    <div class="col-8">
                      <div class="position-relative">
                        <input
                          type="text"
                          formControlName="docNumber"
                          class="form-control"
                          [ngClass]="{
                            'is-valid': employeeForm.get('docNumber')?.valid,
                            'is-invalid': employeeForm.get('docNumber')?.invalid && employeeForm.get('docNumber')?.touched
                          }"
                          id="docNumber"
                          placeholder="Ingrese el número de documento"
                          style="text-align: right;"
                        />
                        <div *ngIf="employeeForm.get('docNumber')?.valid"
                             class="valid-feedback position-absolute top-0 end-0">
                        </div>
                        <div *ngIf="employeeForm.get('docNumber')?.invalid && employeeForm.get('docNumber')?.touched"
                             class="invalid-feedback">
                          Documento es requerido
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mb-4">
                <div class="col-md-6">
                  <div class="row align-items-center">
                    <label for="salary" class="col-4 mb-0">
                      Salario <span class="text-danger">*</span>
                    </label>
                    <div class="col-8">
                      <div class="position-relative">
                        <div class="input-group">
                          <span class="input-group-text">$</span>
                          <input
                            type="number"
                            formControlName="salary"
                            class="form-control"
                            [ngClass]="{
                              'is-valid': employeeForm.get('salary')?.valid &&
                                         employeeForm.get('salary')?.touched &&
                                         employeeForm.get('salary')?.value !== 0,
                              'is-invalid': employeeForm.get('salary')?.invalid &&
                                           employeeForm.get('salary')?.touched &&
                                           employeeForm.get('salary')?.value === 0
                            }"
                            id="salary"
                            placeholder="Ingrese el salario"
                            style="text-align: right;"
                          />
                        </div>
                        <div *ngIf="employeeForm.get('salary')?.valid"
                             class="valid-feedback position-absolute top-0 end-0">
                        </div>
                        <div *ngIf="employeeForm.get('salary')?.invalid &&
                                     employeeForm.get('salary')?.touched ||
                                     employeeForm.get('salary')?.value === 0"

                             class="invalid-feedback">
                          Salario es requerido
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                  <h5 class="card-title mb-0">Contactos</h5>
                  <button type="button" class="btn btn-primary btn-sm" (click)="addContact()">
                    <i class="bi bi-plus"></i>
                  </button>
                </div>
                <div class="card-body">
                  <div formArrayName="contacts">
                    <div *ngFor="let contact of contacts.controls; let i=index" [formGroupName]="i" class="row mb-2">
                      <div class="col-md-5">
                        <select formControlName="contact_type" class="form-select">
                          <option value="">Seleccione tipo</option>
                          <option *ngFor="let type of contactTypes" [value]="type">{{type}}</option>
                        </select>
                      </div>
                      <div class="col-md-5">
                        <input
                          type="text"
                          formControlName="contact_value"
                          class="form-control"
                          [placeholder]="contact.get('contact_type')?.value === 'EMAIL' ? 'Ingrese email' : 'Ingrese teléfono'"
                          style="text-align: right;"
                          />
                      </div>
                      <div class="col-md-2">
                        <button type="button" class="btn btn-danger btn-sm" (click)="removeContact(i)">
                          <i class="bi bi-x"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

                <div class="card mb-4 mt-4">
                  <div class="card-header">
                    <h5 class="card-title mb-0">Dirección</h5>
                  </div>
                  <div class="card-body">
                    <div formGroupName="address">

                      <div class="row mb-3">

                        <div class="col-md-6">
                          <div class="form-group row align-items-center">
                            <label for="street_address" class="col-4 col-form-label">
                              Calle<span class="text-danger">*</span>
                            </label>
                            <div class="col-8">
                              <div class="position-relative">
                                <input type="text" formControlName="street_address" class="form-control" [ngClass]="{
                                  'is-valid': employeeForm.get('address.street_address')?.valid,
                                  'is-invalid': employeeForm.get('address.street_address')?.invalid && employeeForm.get('address.street_address')?.touched
                                }" id="street_address" placeholder="Ingrese la calle" />
                                <div class="invalid-feedback">
                                  La calle es requerida
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>


                        <div class="col-md-6">
                          <div class="form-group row align-items-center">
                            <label for="number" class="col-4 col-form-label">
                              Número<span class="text-danger">*</span>
                            </label>
                            <div class="col-8">
                              <input type="number" formControlName="number" class="form-control" [ngClass]="{
                                'is-valid': employeeForm.get('address.number')?.valid
                                && employeeForm.get('address.number')?.value !== 0,
                                'is-invalid': employeeForm.get('address.number')?.invalid && employeeForm.get('address.number')?.touched
                              }" id="number" placeholder="Ingrese el número"
                              style="text-align: right;" />
                              <div class="invalid-feedback">
                                El número es requerido
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>


                      <div class="row mb-3">
                        <div class="col-md-6">
                          <div class="form-group row align-items-center">
                            <label for="floor" class="col-4 col-form-label">Piso</label>
                            <div class="col-8">
                              <input  style="text-align: right;" type="number" formControlName="floor" class="form-control" id="floor" placeholder="Ingrese el piso" />
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row align-items-center">
                            <label for="apartment" class="col-4 col-form-label">Departamento</label>
                            <div class="col-8">
                              <input type="text" formControlName="apartment" class="form-control" id="apartment" placeholder="Ingrese el departamento" />
                            </div>
                          </div>
                        </div>
                      </div>


                      <div class="row mb-3">
                        <div class="col-md-6">
                          <div class="form-group row align-items-center">
                            <label for="city" class="col-4 col-form-label">
                              Ciudad<span class="text-danger">*</span>
                            </label>
                            <div class="col-8">
                              <input type="text" formControlName="city" class="form-control" [ngClass]="{
                                'is-valid': employeeForm.get('address.city')?.valid,
                                'is-invalid': employeeForm.get('address.city')?.invalid && employeeForm.get('address.city')?.touched
                              }" id="city" placeholder="Ingrese la ciudad" />
                              <div class="invalid-feedback">
                                La ciudad es requerida
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row align-items-center">
                            <label for="province" class="col-4 col-form-label">
                              Provincia<span class="text-danger">*</span>
                            </label>
                            <div class="col-8">
                              <input type="text" formControlName="province" class="form-control" [ngClass]="{
                                'is-valid': employeeForm.get('address.province')?.valid,
                                'is-invalid': employeeForm.get('address.province')?.invalid && employeeForm.get('address.province')?.touched
                              }" id="province" placeholder="Ingrese la provincia" />
                              <div class="invalid-feedback">
                                La provincia es requerida
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>


                      <div class="row mb-3">
                        <div class="col-md-6">
                          <div class="form-group row align-items-center">
                            <label for="country" class="col-4 col-form-label">
                              País<span class="text-danger">*</span>
                            </label>
                            <div class="col-8">
                              <input type="text" formControlName="country" class="form-control" [ngClass]="{
                                'is-valid': employeeForm.get('address.country')?.valid,
                                'is-invalid': employeeForm.get('address.country')?.invalid && employeeForm.get('address.country')?.touched
                              }" id="country" placeholder="Ingrese el país" />
                              <div class="invalid-feedback">
                                El país es requerido
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row align-items-center">
                            <label for="postal_code" class="col-4 col-form-label">
                              Código Postal<span class="text-danger">*</span>
                            </label>
                            <div class="col-8">
                              <input type="number" formControlName="postal_code" class="form-control" [ngClass]="{
                                'is-valid': employeeForm.get('address.postal_code')?.valid &&
                                employeeForm.get('address.postal_code')?.value !== 0,
                                'is-invalid': employeeForm.get('address.postal_code')?.invalid && employeeForm.get('address.postal_code')?.touched
                              }" id="postal_code" placeholder="Ingrese el código postal"
                               style="text-align: right;" />
                              <div class="invalid-feedback">
                                El código postal es requerido
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

    <div class="d-flex justify-content-end gap-2">
        @if (!currentEmployeeId) {
            <button type="button" class="btn btn-danger" (click)="onCancel()">Cancelar</button>
            <button type="submit" class="btn btn-primary" [disabled]="employeeForm.invalid" >
              {{ !isEdit ? 'Guardar' : 'Modificar' }} 
            </button>
          }
      </div>

          </form>
    </div>

    <ng-template #infoModal let-modal>
      <div class="modal-header fs-6 py-1">
        <h4 class="modal-title">Formulario de Empleados</h4>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="modal.dismiss()"
        ></button>
      </div>
      <div class="modal-body fs-6 py-2">
        <div class="container-fluid">

          <div class="alert alert-info mb-2 py-2">
            <h5 class="alert-heading">¿Qué es esta pantalla?</h5>
            <p class="mb-0 small">
              Esta pantalla te permite registrar/actualizar un empleado.
            </p>
          </div>


          <div class="card mb-2">
            <div class="card-header py-1">
              <h5 class="mb-0">Datos de Empleados</h5>
            </div>
            <div class="card-body py-2">
              <ul class="list-group list-group-flush">
                <li class="list-group-item py-1">
                  <strong>Campos a ingresar:</strong> Se solicitarán: Nombre,
                  Apellido, Tipo, Documento, Tipo de Documento, Salario y Fecha
                  de Contratación.
                </li>
                <li class="list-group-item py-1">
                  <strong>ATENCIÓN:</strong> La opción de GUARDAR solo se
                  habilitará si todos los campos se encuentran correctamente
                  completados.
                </li>
              </ul>
            </div>
          </div>


          <div class="card mb-2">
            <div class="card-header py-1">
              <h5 class="mb-0">Acciones Disponibles</h5>
            </div>
            <div class="card-body py-2">
              <ul class="list-group list-group-flush">
                <li class="list-group-item py-1">
                  <strong>Guardar:</strong> En caso de que todos los campos se
                  encuentren correctamente completados se guardará el nuevo
                  empleado.
                </li>
                <li class="list-group-item py-1">
                  <strong>Cancelar:</strong> Se cancela el registro o la
                  actualización del empleado y nos devuelve al listado de
                  empleados.
                </li>
              </ul>
            </div>
          </div>


          <div class="alert alert-warning py-2 mb-0">
            <h5 class="alert-heading">Nota:</h5>
            <p class="mb-0 small">
              Asegúrate de verificar la información antes de modificar, ingresar
              o eliminar un empleado.
            </p>
          </div>
        </div>
      </div>
      <div class="modal-footer py-2">
        <button type="button" class="btn btn-primary" (click)="modal.close()">
          Entendido
        </button>
      </div>
    </ng-template>

  @if (currentEmployeeId) {
    <div class="mt-4">
      <app-employee-access
        [employeeId]="currentEmployeeId"
        (schedulesSaved)="startNewEmployee()"
      ></app-employee-access>
    </div>
  } -->
