<h3 class="h3">Lista de Inventarios</h3>

<!-- Barra de búsqueda y botones de acción -->
<div class="d-flex justify-content-between align-items-center mb-3">
  <!-- Barra de búsqueda -->
  <div class="input-group w-25">
    <span class="input-group-text">
      <i class="bi bi-search"></i>
    </span>
    <input type="text" class="form-control" placeholder="Buscar Artículos" [formControl]="searchInput" />
    <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#filterModal">
      <i class="bi bi-funnel-fill"></i>
    </button>
  </div>

  <!-- Botones de acción -->
  <div class="d-flex align-items-center">
    <button type="button" class="btn btn-outline-primary me-2" [routerLink]="['/articles/article']" title="Agregar artículo">
      <i class="bi bi-plus"></i>
    </button>
    <button type="button" class="btn btn-success me-2" (click)="exportToExcel()" title="Exportar a Excel">
      <i class="bi bi-file-earmark-excel"></i>
    </button>
    <button type="button" class="btn btn-danger me-2" (click)="exportToPDF()" title="Exportar a PDF">
      <i class="bi bi-file-earmark-pdf"></i>
    </button>
    <button class="btn btn-secondary" (click)="showInfo()" title="Información">
      <i class="bi bi-info-circle"></i>
    </button>
  </div>
</div>

<!-- Tabla de inventarios -->
<div class="table-container mt-3">
  <table class="table table-striped">
    <thead *ngIf="inventories.length > 0">
      <tr>
        <th (click)="sort('identifier')">Identificador</th>
        <th (click)="sort('article')">Artículo</th>
        <th (click)="sort('type')">Tipo</th>
        <th (click)="sort('stock')">Stock</th>
        <th (click)="sort('measure')">Medida</th>
        <th (click)="sort('minStock')">Stock Mínimo</th>
        <th (click)="sort('location')">Ubicación</th>
        <th (click)="sort('status')">Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="inventories.length === 0">
        <td colspan="9" class="text-center">
          <div class="alert alert-secondary">No hay elementos para mostrar</div>
        </td>
      </tr>
      <tr *ngFor="let inventory of inventories">
        <td>{{ inventory.article.identifier || "-" }}</td>
        <td>{{ inventory.article.name }}</td>
        <td>{{ inventory.article.articleCategory.denomination || '-' }}</td>
        <td>{{ inventory.stock }}</td>
        <td>{{ getDisplayUnit(inventory.article.measurementUnit) }}</td>
        <td>{{ inventory.minStock || "-" }}</td>
        <td>{{ inventory.location || "-" }}</td>
        <td>
          <i *ngIf="inventory.status.toString() === 'ACTIVE'" class="bi bi-check2-circle text-success" style="font-size: 1.5rem;"></i>
          <i *ngIf="inventory.status.toString() !== 'ACTIVE'" class="bi bi-x-circle text-danger" style="font-size: 1.5rem;"></i>
        </td>
        <td>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-three-dots-vertical"></i>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" (click)="onTransactions(inventory)">Ver Movimientos</a></li>
              <li *ngIf="inventory.status.toString() === 'ACTIVE'"><a class="dropdown-item" (click)="onNewTransaction(inventory)">Realizar Movimiento</a></li>
              <li *ngIf="inventory.status.toString() === 'ACTIVE'"><a class="dropdown-item" (click)="onInventoryUpdate(inventory)">Editar</a></li>
              <li *ngIf="inventory.status.toString() === 'ACTIVE'"><a class="dropdown-item text-danger" (click)="deleteInventory(inventory.id!)">Eliminar</a></li>
            </ul>
          </div>
        </td>

      </tr>
    </tbody>
  </table>
</div>

<!-- Paginación -->
<div class="d-flex justify-content-between align-items-center p-3 border-top">
  <div class="d-flex align-items-center">
    <span class="me-2">Elementos por página:</span>
    <select class="form-select form-select-sm" style="width: auto;" [(ngModel)]="itemsPerPage" (change)="onPageSizeChange($event)">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="50">50</option>
    </select>
  </div>
  <div class="d-flex justify-content-end">
    <button class="btn btn-outline-secondary btn-sm ms-2" [disabled]="currentPage === 1" (click)="goToPreviousPage()">
        <i class="bi bi-chevron-left"></i>
    </button>
    <button class="btn btn-outline-secondary btn-sm ms-1" [disabled]="currentPage === totalPages" (click)="goToNextPage()">
        <i class="bi bi-chevron-right"></i>
    </button>
</div>
</div>

<!-- Modal de Filtros -->
<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="filterModalLabel">Filtros de Inventario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="filterForm">
          <div class="row">
            <div class="col-md-3 mb-3">
              <input type="text" class="form-control" placeholder="Artículo" formControlName="articleNameFilter">
            </div>
            <div class="col-md-3 mb-3">
              <input type="text" class="form-control" placeholder="Stock" formControlName="stockFilter">
            </div>
            <div class="col-md-3 mb-3">
              <input type="text" class="form-control" placeholder="Ubicación" formControlName="locationFilter">
            </div>
            <div class="col-md-3 mb-3">
              <select class="form-select" formControlName="measure">
                <option value="UNITS">Unidades</option>
                <option value="LITERS">Litros</option>
                <option value="KILOS">Kilogramos</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <!-- Botón de Limpiar con Icono de Basurero -->
        <button type="button" class="btn btn-outline-danger" (click)="clearFilters()">
          <i class="bi bi-trash"></i>
        </button>
        <!-- Botón de Aplicar Filtros -->
        <button type="button" class="btn btn-primary" (click)="applyFilters()">Aplicar Filtros</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de Información -->
<ng-template #infoModal let-modal>
  <div class="modal-header fs-6 py-1">
    <h4 class="modal-title">Información de la Lista de Inventarios</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body fs-6 py-2">
    <div class="container-fluid">
      <div class="alert alert-info mb-2 py-2">
        <h5 class="alert-heading">¿Qué es esta pantalla?</h5>
        <p class="mb-0 small">Esta pantalla te permite visualizar los inventarios registrados e ingresar nuevos. Cada sección está diseñada para ofrecer acceso a la información necesaria de manera sencilla.</p>
      </div>

      <div class="card mb-2">
        <div class="card-header py-1">
          <h5 class="mb-0">Datos de Inventarios</h5>
        </div>
        <div class="card-body py-2">
          <ul class="list-group list-group-flush">
            <li class="list-group-item py-1"><strong>Lista de Inventarios:</strong> Detalles de cada inventario: Identificador, Artículo, Tipo, Stock, Medida, Stock mínimo, Ubicación y Estado.</li>
            <li class="list-group-item py-1"><strong>Búsqueda:</strong> Filtro de lista por inventarios activos/inactivos u otros filtros de búsqueda.</li>
            <li class="list-group-item py-1"><strong>Limpiar:</strong> Limpia los filtros seleccionados para la búsqueda.</li>
            <li class="list-group-item py-1"><strong>Paginación:</strong> Navega entre múltiples páginas de inventarios.</li>
            <li class="list-group-item py-1"><strong>Nuevo:</strong> Permite agregar un inventario, redirige a un formulario para completarlo.</li>
            <li class="list-group-item py-1"><strong>Exportar:</strong> Exporta la lista a PDF o Excel.</li>
          </ul>
        </div>
      </div>

      <div class="card mb-2">
        <div class="card-header py-1">
          <h5 class="mb-0">Acciones Disponibles</h5>
        </div>
        <div class="card-body py-2">
          <ul class="list-group list-group-flush">
            <li class="list-group-item py-1"><strong>Ver movimientos:</strong> Muestra los movimientos de cada inventario.</li>
          </ul>
        </div>
      </div>

      <div class="alert alert-warning py-2 mb-0">
        <h5 class="alert-heading">Nota:</h5>
        <p class="mb-0 small">Asegúrate de verificar la información antes de agregar un nuevo inventario.</p>
      </div>
    </div>
  </div>
  <div class="modal-footer py-2">
    <button type="button" class="btn btn-primary" (click)="modal.close()">Entendido</button>
  </div>
</ng-template>


<app-article *ngIf="showRegisterForm" (closeRegister)="onRegisterClose()" />

  <app-transaction   *ngIf="showRegisterTransactionForm"
  [inventory]="selectedInventory"
  (closeRegisterTransaction)="onRegisterTransactionClose()"
  ></app-transaction>

  <app-inventory-transaction-table
    *ngIf="showTransactions"
    [inventory]="selectedInventory"
    (closeTransactions)="onTransactionsClose()"
  ></app-inventory-transaction-table>

  <app-inventory-inventories-update
  *ngIf="showInventoryUpdate"
  [inventory]="selectedInventory"
  (closeModal)="onInventoryUpdateClose()"
></app-inventory-inventories-update>
