<app-main-container title="Lista de Proveedores">

  <!-- Header con búsqueda, filtros y botones de acción -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <!-- Sección de búsqueda y filtros -->
    <div class="input-group w-25">
      <span class="input-group-text">
        <i class="bi bi-search"></i>
      </span>
      <input
        type="text"
        class="form-control"
        placeholder="Buscar..."
        [formControl]="searchFilterAll"
        />
      <button type="button" class="btn btn-outline-info" (click)="openModalFilter()">
        <i class="bi bi-funnel-fill"></i>
      </button>
    </div>
    <!-- Botón para abrir el modal -->


    <!-- Botones de Agregar, Exportar a Excel y Exportar a PDF -->
    <div class="d-flex align-items-center">
      <button class="btn btn-outline-secondary me-2" (click)="openInfoModal(infoModal)">
        <i class="bi bi-info-circle"></i>
      </button>
      
      <button type="button" class="btn btn-outline-primary me-2" [routerLink]="['/providers/form']">
        <i class="bi bi-plus"></i>
      </button>
      <button type="button" class="btn btn-success me-2" (click)="exportToExcel()">
        <i class="bi bi-file-earmark-excel"></i>
      </button>
      <button type="button" class="btn btn-danger" (click)="exportToPDF()">
        <i class="bi bi-file-earmark-pdf"></i>
      </button>
    </div>
  </div>

  <!-- Tabla de proveedores -->
  <div class="table-container mt-3">
    <table class="table table-striped">
      <thead *ngIf="providerList.length > 0">
        <tr>
          <th >Nombre</th>
          <th >CUIL</th>
          <th >Servicio</th>
          <th>Contacto</th>
          <th>Dirección</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="providerList.length === 0">
          <td colspan="7" class="text-center">
            <div class="alert alert-secondary">
              No hay elementos para mostrar
            </div>
          </td>
        </tr>
        <tr *ngFor="let provider of providerList; trackBy: trackByFn">
          <td>{{ provider.name }}</td>
          <td>{{ provider.cuil }}</td>
          <td>{{ provider.service }}</td>
          <td>{{ provider.contact }}</td>
          <td>{{ provider.address }}</td>
          <td>
            <i *ngIf="provider.enabled" class="bi bi-check-circle text-success"></i>
            <i *ngIf="!provider.enabled" class="bi bi-x-circle text-danger"></i>
          </td>
          <td>
            <button class="btn btn-outline-secondary btn-sm me-1" (click)="editProvider(provider.id)">
              <i class="bi bi-pencil"></i>
            </button>
            <button class="btn btn-outline-danger btn-sm" (click)="deleteProvider(provider.id)">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="d-flex align-items-center justify-content-between mt-3">
    <!-- Selector de elementos por página -->
    <div class="form-group me-3">
      <select
        id="itemsPerPage"
        class="form-select form-select-sm"
        [(ngModel)]="pageSize"
        (change)="onItemsPerPageChange()"
      >
        <option *ngFor="let option of sizeOptions" [value]="option">
          {{ option }} Elementos
        </option>
      </select>
    </div>
  
    <!-- Paginador con flechas de navegación -->
    <div class="ms-auto">
      <ngb-pagination
        [(page)]="currentPage"
        [pageSize]="pageSize"
        [collectionSize]="totalItems"
        (pageChange)="onPageChange($event)"
        [maxSize]="5"
        [boundaryLinks]="true"
        [directionLinks]="true"
        [rotate]="true"
        [ellipses]="false"
        aria-label="Pagination"
      >
      </ngb-pagination>
    </div>
  </div>
  

<!-- Modal de Filtros -->
<div *ngIf="showModalFilter" class="modal fade show" tabindex="-1" role="dialog" style="display: block;">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Filtrar Proveedores</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeModalFilter()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="filterForm">
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" placeholder="Nombre" formControlName="name">
          </div>
          <div class="form-group">
            <label>CUIL</label>
            <input type="text" class="form-control" placeholder="CUIL" formControlName="cuil">
          </div>
          <div class="form-group">
            <label>Servicio</label>
            <input type="text" class="form-control" placeholder="Servicio" formControlName="service">
          </div>
          <div class="form-group">
            <label>Número de Teléfono</label>
            <input type="text" class="form-control" placeholder="Número de Teléfono" formControlName="phone">
          </div>
          <div class="form-group">
            <label>Estado</label>
            <select class="form-select" formControlName="enabled">
              <option value="">Todos los Estados</option>
              <option [value]="true">Activo</option>
              <option [value]="false">Inactivo</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="clearFilters()">
          <i class="bi bi-trash"></i></button>
        <button type="button" class="btn btn-primary" (click)="applyFilters()">Aplicar Filtros</button>
      </div>
    </div>
  </div>
</div>

  <!-- Modal de Información -->
<ng-template #infoModal let-modal>
  <div class="modal-header fs-6 py-1">
    <h4 class="modal-title">Información de la Lista de Proveedores</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body fs-6 py-2">
    <div class="container-fluid">
      <!-- Introducción -->
      <div class="alert alert-info mb-2 py-2">
        <h5 class="alert-heading">¿Qué es esta pantalla?</h5>
        <p class="mb-0 small">Esta pantalla te permite visualizar y gestionar los proveedores registrados. Cada sección está diseñada para ofrecer un acceso a la información de manera ordenada y sencilla.</p>
      </div>

      <!-- Campos Principales -->
      <div class="card mb-2">
        <div class="card-header py-1">
          <h5 class="mb-0">Datos de Proveedores</h5>
        </div>
        <div class="card-body py-2">
          <ul class="list-group list-group-flush">
            <li class="list-group-item py-1">
              <strong>Lista de Proveedores:</strong> Muestra los detalles de cada proveedor, incluyendo Nombre, CUIL, Servicio, Contacto, Dirección, Estado.
            </li>
            <li class="list-group-item py-1">
              <strong>Búsqueda:</strong> Funcionalidad para filtrar la lista de proveedores, por proveedores activos y/o inactivos, o por otros filtros de búsqueda.
            </li>
            <li class="list-group-item py-1">
              <strong>Limpiar:</strong> Permite limpiar los filtros seleccionados para la búsqueda.
            </li>
            <li class="list-group-item py-1">
              <strong>Paginación:</strong> Control para navegar entre múltiples páginas de proveedores.
            </li>
            <li class="list-group-item py-1">
              <strong>Nuevo:</strong> Permite ingresar un nuevo proveedor, nos redireccionará a un formulario para completarlo.
            </li>
            <li class="list-group-item py-1">
              <strong>Exportar:</strong> Botones para exportar la lista a formatos PDF o Excel.
            </li>
          </ul>
        </div>
      </div>

      <!-- Acciones -->
      <div class="card mb-2">
        <div class="card-header py-1">
          <h5 class="mb-0">Acciones Disponibles</h5>
        </div>
        <div class="card-body py-2">
          <ul class="list-group list-group-flush">
            <li class="list-group-item py-1">
              <strong>Editar:</strong> Nos redireccionará a un formulario para editar el proveedor seleccionado.
            </li>
            <li class="list-group-item py-1">
              <strong>Eliminar:</strong> Nos solicitará confirmación para eliminar el proveedor seleccionado.
            </li>
          </ul>
        </div>
      </div>

      <!-- Nota (OPCIONAL) -->
      <div class="alert alert-warning py-2 mb-0">
        <h5 class="alert-heading">Nota:</h5>
        <p class="mb-0 small">Asegúrate de verificar la información antes de modificar, ingresar o eliminar un proveedor.</p>
      </div>
    </div>
  </div>
  <div class="modal-footer py-2">
    <button type="button" class="btn btn-primary" (click)="modal.close()">Entendido</button>
  </div>
</ng-template>

</app-main-container>
