<app-main-container title="Graficos" (infoButtonClick)="showInfo()">
  <!-- Header con búsqueda y filtros -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <div class="input-group w-25">
      <span class="input-group-text">
        <i class="bi bi-search"></i>
      </span>

      <button
        type="button"
        class="btn btn-outline-info dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <i class="bi bi-funnel-fill"></i>
      </button>

      <!-- Dropdown de Filtros -->
      <div class="dropdown-menu p-3" style="width: 300px">
        <form [formGroup]="filterForm">
          <div class="mb-3">
            <label class="form-label">Artículo</label>
            <input
              type="text"
              class="form-control"
              placeholder="Nombre de artículo"
              formControlName="articleNameFilter"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Stock</label>
            <input
              type="text"
              class="form-control"
              placeholder="Stock"
              formControlName="stockFilter"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Ubicación</label>
            <input
              type="text"
              class="form-control"
              placeholder="Ubicación"
              formControlName="locationFilter"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Medida</label>
            <select class="form-select" formControlName="measure">
              <option value="">Seleccione una medida</option>
              <option value="UNITS">Unidades</option>
              <option value="LITERS">Litros</option>
              <option value="KILOS">Kilogramos</option>
            </select>
          </div>
          <div class="d-flex justify-content-between">
            <button
              type="button"
              class="btn btn-outline-danger"
              (click)="clearFilters()"
            >
              <i class="bi bi-trash"></i>
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="applyFilters()"
            >
              Aplicar Filtros
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Gráficos KPIs de Inventario -->
  <div class="container mt-5">
    <h3 class="text-center text-secondary">KPIs de Inventario</h3>

    <div class="row gy-4">
      <!-- Gráfico de Nivel de Stock Crítico -->
      <div class="col-md-6">
        <div class="card border-0 shadow-lg rounded-4">
          <div class="card-body">
            <h5 class="card-title text-secondary mb-3">
              Nivel de Stock Crítico
            </h5>
            <canvas #stockLevelChart style="height: 200px"></canvas>
          </div>
        </div>
      </div>

      <!-- Gráfico de Nivel de Stock por Categoría -->
      <div class="col-md-6">
        <div class="card border-0 shadow-lg rounded-4">
          <div class="card-body">
            <h5 class="card-title text-secondary mb-3">
              Nivel de Stock por Categoría
            </h5>
            <canvas #stockByCategoryChart style="height: 200px"></canvas>
          </div>
        </div>
      </div>
    </div>
    <!-- Gráfico de Rotación de Inventario -->
    <div class="col-md-12">
        <div class="card border-0 shadow-lg rounded-4">
          <div class="card-body">
            <h5 class="card-title text-secondary mb-3">Rotación de Inventario</h5>
            <canvas #rotationInventoryChart style="height: 200px"></canvas>
          </div>
        </div>
      </div>
  </div>

  
  
</app-main-container>
