<app-main-container title="Lista de Empresas" (infoButtonClick)="showInfo()">

    <!-- Header con búsqueda, filtros y botones de acción -->
    <div class="d-flex justify-content-between align-items-center mb-3">
      <!-- Sección de búsqueda y filtros -->
      <div class="input-group w-25">
        <span class="input-group-text">
          <i class="bi bi-search"></i>
        </span>
        <input
          type="text"
          class="form-control"
          placeholder="Buscar servicios..."
          [formControl]="searchFilterAll"
        />
        <button type="button" class="btn btn-outline-info" (click)="openModalFilter()">
          <i class="bi bi-funnel-fill"></i>
        </button>
      </div>
  
      <!-- Botones de Agregar, Exportar a Excel y Exportar a PDF -->
      <div class="d-flex align-items-center">
        <!-- <button class="btn btn-outline-secondary me-2" (click)="openInfoModal(infoModal)">
          <i class="bi bi-info-circle"></i>
        </button> -->
        
        <button type="button" class="btn btn-outline-primary me-2" [routerLink]="['/services/form']">
          <i class="bi bi-plus"></i>
        </button>
        <button type="button" class="btn btn-success me-2" (click)="exportToExcel()">
          <i class="bi bi-file-earmark-excel"></i>
        </button>
        <button type="button" class="btn btn-danger" (click)="exportToPDF()">
          <i class="bi bi-file-earmark-pdf"></i>
        </button>
      </div>
    </div>
  
    <!-- Tabla de servicios -->
    <div class="table-container mt-3">
      <table class="table table-striped">
        <thead *ngIf="serviceList.length > 0">
          <tr>
            <th>Nombre</th>
            <th>CUIT</th>
            <th>Categoria</th>
            <th>Contacto</th>
            <th>Dirección</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="serviceList.length === 0">
            <td colspan="7" class="text-center">
              <div class="alert alert-secondary">
                No hay servicios para mostrar
              </div>
            </td>
          </tr>
          <tr *ngFor="let service of serviceList; trackBy: trackByFn">
            <td>{{ service.name }}</td>
            <td>{{ service.cuit }}</td>
            <td>{{ service.type }}</td>
            <td>{{ service.contact }}</td>
            <td>{{ service.address }}</td>
            <td>
              <i *ngIf="service.enabled" class="bi bi-check2-circle text-success" style="font-size: 1.5rem;"></i>
              <i *ngIf="!service.enabled" class="bi bi-x-circle text-danger" style="font-size: 1.5rem;"></i>
            </td>
            <td>
              <div class="d-flex justify-content-left gap-2">
                <!-- Botón de Editar -->
                <button 
                  *ngIf="service.enabled != false"
                  (click)="editService(service.id)"
                  class="btn btn-warning btn-sm"
                  title="Editar"
                >
                  <i class="bi bi-pencil"></i> 
                </button>

                <!-- Botón de Editar (Deshabilitado) -->
                <button 
                *ngIf="service.enabled == false"
                disabled
                class="btn btn-warning btn-sm"
                title="Editar"
                >
                <i class="bi bi-pencil"></i> 
                </button>
                
                <!-- Botón de Eliminar -->
                <button 
                  *ngIf="service.enabled != false"
                  (click)="deleteService(service.id)"
                  class="btn btn-danger btn-sm"
                  title="Eliminar"
                >
                  <i class="bi bi-trash-fill"></i>
                </button>

                <!-- Botón de Eliminar (Deshabilitado) -->
                <button 
                *ngIf="service.enabled == false"
                disabled
                class="btn btn-danger btn-sm"
                title="Eliminar"
                >
                <i class="bi bi-trash-fill"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <!-- Paginación y elementos por página -->
    <div class="d-flex justify-content-between align-items-center p-3 border-top">
      <div class="d-flex align-items-center">
        <select (change)="onItemsPerPageChange()" class="form-select form-select-sm" style="width: auto;" [(ngModel)]="pageSize">
          <option value="5">5 Elementos</option>
          <option value="10">10 Elementos</option>
          <option value="20">20 Elementos</option>
          <option value="50">50 Elementos</option>
        </select>
      </div>





      <div class="ms-3">
        <button class="btn btn-outline-secondary btn-sm me-1"
                [disabled]="currentPage === 1"
                (click)="goToPreviousPage()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
            </svg>
        </button>
        <button class="btn btn-outline-secondary btn-sm"
                [disabled]="currentPage === totalPages"
                (click)="goToNextPage()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg>
        </button>
      </div>
    </div>
  
    <!-- Modal de Filtros -->
    <div *ngIf="showModalFilter" class="modal fade show" tabindex="-1" role="dialog" style="display: block;">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Filtrar Servicios</h5>
            <button type="button" class="btn-close" aria-label="Close" (click)="closeModalFilter()"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="filterForm">
              <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" placeholder="Nombre" formControlName="name">
              </div>
              <div class="form-group">
                <label>CUIT</label>
                <input type="text" class="form-control" placeholder="CUIT" formControlName="cuit">
              </div>
              <div class="form-group">
                <label>Tipo</label>
                <input type="text" class="form-control" placeholder="Tipo" formControlName="type">
              </div>
              <div class="form-group">
                <label>Telefono</label>
                <input type="text" class="form-control" placeholder="Telefono" formControlName="phone">
              </div>
              <div class="form-group">
                <label>Direccion</label>
                <input type="text" class="form-control" placeholder="Direccion" formControlName="address">
              </div>
              <div class="form-group">
                <label>Estado</label>
                <select class="form-select" formControlName="enabled">
                  <option value="">Cualquier Estado</option>
                  <option [value]="true">Activo</option>
                  <option [value]="false">Inactivo</option>
                </select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" (click)="clearFilters()">
              <i class="bi bi-trash"></i>
            </button>
            <button type="button" class="btn btn-primary" (click)="applyFilters()">Aplicar Filtros</button>
          </div>
        </div>
      </div>
    </div>

      <!-- Modal de Información -->
    <ng-template #infoModal let-modal>
        <div class="modal-header fs-6 py-1">
            <h4 class="modal-title">Información de la Lista de Servicios</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
        </div>
        <div class="modal-body fs-6 py-2">
        <div class="container-fluid">
            <!-- Introducción -->
            <div class="alert alert-info mb-2 py-2">
                <h5 class="alert-heading">¿Qué es esta pantalla?</h5>
                <p class="mb-0 small">Esta pantalla te permite visualizar y gestionar los servicios registrados. Cada sección está diseñada para ofrecer un acceso a la información de manera ordenada y sencilla.</p>
            </div>
        <!-- Campos Principales -->
        <div class="card mb-2">
            <div class="card-header py-1">
              <h5 class="mb-0">Datos de Servicios</h5>
            </div>
            <div class="card-body py-2">
              <ul class="list-group list-group-flush">
                <li class="list-group-item py-1">
                  <strong>Lista de Servicios:</strong> Muestra los detalles de cada servicio, incluyendo Nombre, CUIT, Tipo de Servicio, Contacto, Dirección, Estado.
                </li>
                <li class="list-group-item py-1">
                  <strong>Búsqueda:</strong> Funcionalidad para filtrar la lista de servicios, por servicios activos y/o inactivos, o por otros filtros de búsqueda.
                </li>
                <li class="list-group-item py-1">
                  <strong>Limpiar:</strong> Permite limpiar los filtros seleccionados para la búsqueda.
                </li>
                <li class="list-group-item py-1">
                  <strong>Paginación:</strong> Control para navegar entre múltiples páginas de servicios.
                </li>
                <li class="list-group-item py-1">
                  <strong>Nuevo:</strong> Permite ingresar un nuevo servicio, nos redireccionará a un formulario para completarlo.
                </li>
                <li class="list-group-item py-1">
                  <strong>Exportar:</strong> Botones para exportar la lista a formatos PDF o Excel.
                </li>
              </ul>
            </div>
          </div>
    
          <!-- Acciones -->
          <div class="card mb-2">
            <div class="card-header py-1">
              <h5 class="mb-0">Acciones Disponibles</h5>
            </div>
            <div class="card-body py-2">
              <ul class="list-group list-group-flush">
                <li class="list-group-item py-1">
                  <strong>Editar:</strong> Nos redireccionará a un formulario para editar el servicio seleccionado.
                </li>
                <li class="list-group-item py-1">
                  <strong>Eliminar:</strong> Nos solicitará confirmación para eliminar el servicio seleccionado.
                </li>
              </ul>
            </div>
          </div>
    
          <!-- Nota (OPCIONAL) -->
          <div class="alert alert-warning py-2 mb-0">
            <h5 class="alert-heading">Nota:</h5>
            <p class="mb-0 small">Asegúrate de verificar la información antes de modificar, ingresar o eliminar un servicio.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer py-2">
        <button type="button" class="btn btn-primary" (click)="modal.close()">Entendido</button>
      </div>
    </ng-template>

    <div class="container mt-5">
        <h3>Métricas de Servicios</h3>
        <div class="row">
          <div class="col-md-3">
            <!-- Gráfico de torta -->
            <canvas #pieChart></canvas>
          </div>
          <div class="col-md-3">
            <p><strong>Total Servicios:</strong> {{ serviceList.length }}</p>
            <p><strong>Servicios Activos:</strong> {{ activeCount }}</p>
            <p><strong>Servicios Inactivos:</strong> {{ inactiveCount }}</p>
          </div>
          <div class="col-md-6">
            <!-- Canvas para el gráfico de barras -->
            <h5>Servicios por Categoria</h5>
            <canvas id="barChart"></canvas>
          </div>
        </div>
      </div>
</app-main-container>
  