/* employee-edit-modal.component.css */
:host {
    display: block;
  }
  
  .modal-backdrop {
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    z-index: 1040;
  }
  
  .modal {
    z-index: 1050;
  }
