<app-main-container title="Lista de Empleados">

  <!-- Header con búsqueda, filtros y botones de acción -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <div class="input-group w-25">
      <span class="input-group-text"><i class="bi bi-search"></i></span>
      <input type="text" class="form-control" placeholder="Buscar empleado..." [formControl]="searchFilter" />
      <button type="button" class="btn btn-outline-info" (click)="openModalFilters()"><i class="bi bi-funnel-fill"></i></button>
    </div>
    <div class="d-flex align-items-center">
      <button class="btn btn-outline-secondary me-2" (click)="openInfoModal()">
        <i class="bi bi-info-circle"></i>
      </button>
      <button type="button" class="btn btn-outline-primary me-2" [routerLink]="['/employees/form']">
        <i class="bi bi-plus"></i>
      </button>
      <button type="button" class="btn btn-success me-2" (click)="exportToExcel()">
        <i class="bi bi-file-earmark-excel"></i>
      </button>
      <button type="button" class="btn btn-danger" (click)="exportToPDF()">
        <i class="bi bi-file-earmark-pdf"></i>
      </button>
    </div>
  </div>

  <!-- Tabla de empleados -->
  <div class="table-container mt-3">
    <table class="table table-striped">
      <thead class="bg-light">
        <tr>
          <th class="px-4 py-3"> 
            Empleado 
          </th>
          <th class="px-4 py-3"> 
            Tipo
          </th>
          <th class="px-4 py-3"> 
            Documento 
          </th>
          <th class="px-4 py-3">
            Fecha Contratación 
           </th>
          <th class="px-4 py-3">
            Estado 
          </th>
          <th class="px-4 py-3 text-center">Acciones</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let employee of filteredEmployeeList; let i = index">
          <td class="px-4 py-3">{{ employee.lastName }}, {{ employee.firstName }}</td>
          <td class="px-4 py-3">{{ employee.employeeType }}</td>
          <td class="px-4 py-3">{{ employee.docNumber }}</td>
          <td class="px-4 py-3">{{ employee.hiringDate | date:'dd/MM/yyyy' }}</td>
          <td class="px-4 py-3">
            <p class="mb-0">
              <i
                *ngIf="employee.state.toString() == 'IN_SERVICE'"
                class="bi bi-check2-circle text-success"
                style="font-size: 1.5rem;"
              ></i>
              <i
                *ngIf="employee.state.toString() != 'IN_SERVICE'"
                class="bi bi-x-circle text-danger"
                style="font-size: 1.5rem;"
              ></i>
            </p>
          </td>
          <td class="px-4 py-3">
            <div class="d-flex justify-content-center gap-2">
              <!-- Botón de Editar -->
              <button 
                (click)="editEmployee(employee)"
                class="btn btn-warning btn-sm"
                title="Editar"
              >
              <i class="bi bi-pencil"></i> 
              </button>

              <button class="btn btn-info btn-sm" (click)="showDetailModal(detailModal, employee.id)">
                <i class="bi bi-eye"></i>
              </button>
          
              <!-- Botón de Eliminar -->
              <button 
                *ngIf="employee.state != 'DOWN'"
                (click)="deleteEmployee(employee.id)"
                class="btn btn-danger btn-sm"
                title="Eliminar"
              >
                <i class="bi bi-trash-fill"></i>
              </button>
          
              <!-- Botón de Eliminar (Deshabilitado) -->
              <button 
                *ngIf="employee.state == 'DOWN'"
                disabled
                class="btn btn-danger btn-sm"
                title="Eliminar"
              >
                <i class="bi bi-trash-fill"></i>
              </button>
            </div>
          </td>
          
        </tr>
      </tbody>
      

    </table>
  </div>

  <!-- Paginación -->
  <div class="d-flex justify-content-between align-items-center p-3 border-top">
    <!-- Left side - Items per page dropdown -->
    <div class="d-flex align-items-center">
      <span class="me-2">Elementos por página:</span>
      <select (change)="onItemsPerPageChange()" class="form-select form-select-sm" style="width: auto;" [(ngModel)]="pageSize">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
      </select>
    </div>
  

  
    <!-- Navigation buttons -->
    <div class="ms-3">
      <button class="btn btn-outline-secondary btn-sm me-1"
              [disabled]="currentPage === 0"
              (click)="goToPreviousPage()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
        </svg>
      </button>
      <button class="btn btn-outline-secondary btn-sm"
              [disabled]="currentPage === totalPages -1"
              (click)="goToNextPage()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg>
      </button>
    </div>
  </div>
  
  <!-- Modal de Información -->
  <ng-template #infoModal let-modal>
    <div class="modal-body">
      <div class="modal-header fs-6 py-1">
        <h4 class="modal-title">Información de la Lista de Empleados</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
      </div>
      <div class="modal-body fs-6 py-2">
        <div class="container-fluid">
          <!-- Introducción -->
          <div class="alert alert-info mb-2 py-2">
            <h5 class="alert-heading">¿Qué es esta pantalla?</h5>
            <p class="mb-0 small">Esta pantalla te permite visualizar y gestionar los empleados registrados. Cada sección está diseñada para ofrecer un acceso a la información de manera ordenada y sencilla.</p>
          </div>
  
          <!-- Campos Principales -->
          <div class="card mb-2">
            <div class="card-header py-1">
              <h5 class="mb-0">Datos de Empleados</h5>
            </div>
            <div class="card-body py-2">
              <ul class="list-group list-group-flush">
                <li class="list-group-item py-1">
                  <strong>Lista de Empleados:</strong> Muestra los detalles de cada empleado, incluyendo Empleado,	Tipo,	Documento,	Fecha, Contratación,	Estado.
                </li>
                <li class="list-group-item py-1">
                  <strong>Búsqueda:</strong> Funcionalidad para filtrar la lista de empleados, por empleados activos y/o inactivos, o por otros filtros de búsqueda.
                </li>
                <li class="list-group-item py-1">
                  <strong>Limpiar:</strong> Permite limpiar los filtros seleccionados para la búsqueda.
                </li>
                <li class="list-group-item py-1">
                  <strong>Paginación:</strong> Control para navegar entre múltiples páginas de empleados.
                </li>
                <li class="list-group-item py-1">
                  <strong>Nuevo:</strong> Permite ingresar un nuevo empleado, nos redireccionará a un formulario para completarlo.
                </li>
                <li class="list-group-item py-1">
                  <strong>Exportar:</strong> Botones para exportar la lista a formatos PDF o Excel.
                </li>
              </ul>
            </div>
          </div>
  
          <!-- Acciones -->
          <div class="card mb-2">
            <div class="card-header py-1">
              <h5 class="mb-0">Acciones Disponibles</h5>
            </div>
            <div class="card-body py-2">
              <ul class="list-group list-group-flush">
                <li class="list-group-item py-1">
                  <strong>Editar:</strong> Nos redireccionará a un formulario para editar el empleado seleccionado.
                </li>
                <li class="list-group-item py-1">
                  <strong>Eliminar:</strong> Nos solicitará confirmación para eliminar el empleado seleccionado.
                </li>
              </ul>
            </div>
          </div>
  
          <!-- Nota (OPCIONAL) -->
          <div class="alert alert-warning py-2 mb-0">
            <h5 class="alert-heading">Nota:</h5>
            <p class="mb-0 small">Asegúrate de verificar la información antes de modificar, ingresar o eliminar un empleado.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer py-2">
        <button type="button" class="btn btn-primary" (click)="modal.close()">Entendido</button>
      </div>
    </div>
  </ng-template>
    <!-- FILTRO MODAL -->
    <div *ngIf="showModalFilters" class="modal fade show" tabindex="-1" role="dialog" style="display: block;">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Filtrar Empleados</h5>
            <button type="button" class="btn-close" aria-label="Close" (click)="closeModalFilters()"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="filterForm">
              <div class="row">
                <div class="col-md-4">
                  <label>Nombre</label>
                  <input type="text" class="form-control" placeholder="Nombre" formControlName="firstName">
                </div>
                <div class="col-md-4">
                  <label>Apellido</label>
                  <input type="text" class="form-control" placeholder="Apellido" formControlName="lastName">
                </div>
                <div class="col-md-4">
                  <label>Tipo de Empleado</label>
                  <select class="form-select" formControlName="employeeType">
                    <option value="">Seleccionar</option>
                    <!-- Llenado de opciones dinámicas -->
                    <option *ngFor="let type of employeeTypes" [value]="type">{{ type }}</option>
                  </select>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-4">
                  <label>Número de Documento</label>
                  <input type="text" class="form-control" placeholder="Número de Documento" formControlName="docNumber">
                </div>
                <div class="col-md-4">
                  <label>Estado</label>
                  <select class="form-select" formControlName="state">
                    <option value="">Seleccionar</option>
                    <!-- Llenado de opciones dinámicas -->
                    <option *ngFor="let status of statusTypes" [value]="status">{{ status }}</option>
                  </select>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" (click)="clearFilters()">
              <i class="bi bi-trash"></i>
            </button>
            <button type="button" class="btn btn-primary" (click)="applyFilters()">Aplicar Filtros</button>
          </div>
        </div>
      </div>
    </div>
    
<!-- Metricas -->
<div class="container mt-5">
  <h3>Métricas de Empleados</h3>
  <div class="row">
    <div class="col-md-3">
      <!-- Gráfico de torta para estados de empleados -->
      <canvas #pieChart></canvas>
    </div>
    <div class="col-md-3">
      <p><strong>Total Empleados:</strong> {{ employeeList.length }}</p>
      <p><strong>Empleados en Servicio:</strong> {{ inServiceCount }}</p>
      <p><strong>Empleados Inactivos:</strong> {{ inactiveCount }}</p>
    </div>
    <div class="col-md-6">
      <!-- Canvas para el gráfico de barras -->
      <h5>Empleados por Tipo</h5>
      <canvas id="barChart"></canvas>
    </div>
  </div>
</div>



</app-main-container>

<ng-template #detailModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Detalles del Empleado</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <div class="container" *ngIf="selectedEmployee">
      <div class="row mb-3">
        <!-- Nombre Completo -->
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h6 class="card-subtitle mb-1 text-muted">Nombre Completo</h6>
              <p class="card-text">{{selectedEmployee.lastName}}, {{selectedEmployee.firstName}}</p>
            </div>
          </div>
        </div>
        <!-- Documento -->
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h6 class="card-subtitle mb-1 text-muted">Documento</h6>
              <p class="card-text">{{selectedEmployee.documentType}}: {{selectedEmployee.docNumber}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <!-- Tipo de Empleado -->
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h6 class="card-subtitle mb-1 text-muted">Tipo de Empleado</h6>
              <p class="card-text">{{selectedEmployee.employeeType}}</p>
            </div>
          </div>
        </div>
        <!-- Estado -->
        <div class="col-md-6">
          <div class="card">
            <div class="card-body d-flex align-items-center">
              <h6 class="card-subtitle mb-1 text-muted me-2">Estado</h6>
              <i
                *ngIf="selectedEmployee.state.toString() == 'IN_SERVICE'"
                class="bi bi-check2-circle text-success"
                style="font-size: 1.5rem;"
              ></i>
              <i
                *ngIf="selectedEmployee.state.toString() != 'IN_SERVICE'"
                class="bi bi-x-circle text-danger"
                style="font-size: 1.5rem;"
              ></i>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <!-- Salario -->
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h6 class="card-subtitle mb-1 text-muted">Salario</h6>
              <p class="card-text">${{selectedEmployee.salary}}</p>
            </div>
          </div>
        </div>
        <!-- Contacto -->
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h6 class="card-subtitle mb-1 text-muted">Contacto</h6>
              <p class="card-text">{{selectedEmployee.contactType}}: {{selectedEmployee.contactValue}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cerrar</button>
  </div>
</ng-template>
