/* You can add global styles to this file, and also import other style files */
.d-flex.align-items-center.justify-content-between {
    padding: 0.5rem;
  }
  
  .form-group select {
    min-width: 100px;
  }
  
  .ngb-pagination {
    margin: 0;
    padding: 0;
  }
  