<!-- <h3>Lista de Article</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Identificador</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Ubicación</th>
      <th>Tipo</th>
      <th>Categoría</th>
      <th>Unidad de Medida</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let article of articles">
      <td>{{ article.identifier }}</td>
      <td>{{ article.name }}</td>
      <td>{{ article.description }}</td>
      <td>{{ article.location }}</td>
      <td>{{ article.type }}</td>
      <td>{{ article.category }}</td>
      <td>{{ article.measurement_unit }}</td>
      <td>
        <button (click)="editArticle(article)" class="btn btn-warning btn-sm">Editar</button>
        <button (click)="deleteArticle(article.id!)" class="btn btn-danger btn-sm">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
 -->
