<div class="card">
  <div class="card-body">
    <div class="m-4">
      <h2 class="mb-4">{{ isEditMode ? 'Editar Proveedor' : 'Registrar Proveedor' }}</h2>
      <form [formGroup]="providerForm" (ngSubmit)="onSubmit()" class="mt-3">
        <div class="row mb-3">
          <div class="col-md-6">
            <div class="d-flex justify-content-between align-items-center">
              <label for="name" class="form-label">Nombre:</label>
              <input id="name" formControlName="name" class="form-control" placeholder="Ingrese el nombre" 
                     [ngClass]="{
                       'is-invalid': providerForm.get('name')?.invalid && providerForm.get('name')?.touched, 
                       'is-valid': providerForm.get('name')?.valid && providerForm.get('name')?.touched
                     }" />
            </div>
            <div class="invalid-feedback" *ngIf="providerForm.get('name')?.invalid && providerForm.get('name')?.touched">
              El nombre es requerido.
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="d-flex justify-content-between align-items-center">
              <label for="cuil" class="form-label">CUIL:</label>
              <input id="cuil" formControlName="cuil" class="form-control" placeholder="Ingrese el CUIL"
                     [ngClass]="{
                       'is-invalid': providerForm.get('cuil')?.invalid && providerForm.get('cuil')?.touched, 
                       'is-valid': providerForm.get('cuil')?.valid && providerForm.get('cuil')?.touched
                     }" />
            </div>
            <div class="invalid-feedback" *ngIf="providerForm.get('cuil')?.invalid && providerForm.get('cuil')?.touched">
              El CUIL debe tener 11 caracteres.
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <div class="d-flex justify-content-between align-items-center">
              <label for="service" class="form-label">Servicio:</label>
              <input id="service" formControlName="service" class="form-control" placeholder="Ingrese el servicio"
                     [ngClass]="{
                       'is-invalid': providerForm.get('service')?.invalid && providerForm.get('service')?.touched, 
                       'is-valid': providerForm.get('service')?.valid && providerForm.get('service')?.touched
                     }" />
            </div>
            <div class="invalid-feedback" *ngIf="providerForm.get('service')?.invalid && providerForm.get('service')?.touched">
              El servicio es requerido.
            </div>
          </div>

          <div class="col-md-6">
            <div class="d-flex justify-content-between align-items-center">
              <label for="contact" class="form-label">Contacto:</label>
              <input id="contact" formControlName="contact" class="form-control" placeholder="Ingrese el contacto"
                     [ngClass]="{
                       'is-invalid': providerForm.get('contact')?.invalid && providerForm.get('contact')?.touched, 
                       'is-valid': providerForm.get('contact')?.valid && providerForm.get('contact')?.touched
                     }" />
            </div>
            <div class="invalid-feedback" *ngIf="providerForm.get('contact')?.invalid && providerForm.get('contact')?.touched">
              El contacto es requerido.
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-12">
            <div class="d-flex justify-content-between align-items-center">
              <label for="address" class="form-label">Dirección:</label>
              <input id="address" formControlName="address" class="form-control" placeholder="Ingrese la dirección"
                     [ngClass]="{
                       'is-invalid': providerForm.get('address')?.invalid && providerForm.get('address')?.touched, 
                       'is-valid': providerForm.get('address')?.valid && providerForm.get('address')?.touched
                     }" />
            </div>
            <div class="invalid-feedback" *ngIf="providerForm.get('address')?.invalid && providerForm.get('address')?.touched">
              La dirección es requerida.
            </div>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-md-12">
            <div class="d-flex justify-content-between align-items-center">
              <label for="details" class="form-label">Detalles:</label>
              <textarea id="details" formControlName="details" class="form-control" placeholder="Ingrese los detalles"
                        [ngClass]="{
                          'is-invalid': providerForm.get('details')?.invalid && providerForm.get('details')?.touched, 
                          'is-valid': providerForm.get('details')?.valid && providerForm.get('details')?.touched
                        }">
              </textarea>
            </div>
            <div class="invalid-feedback" *ngIf="providerForm.get('details')?.invalid && providerForm.get('details')?.touched">
              Los detalles son requeridos.
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-between">
          <button type="button" class="btn btn-secondary" (click)="resetForm()" *ngIf="isEditMode">Cancelar</button>
          <button type="submit" class="btn btn-primary" [disabled]="providerForm.invalid">{{ isEditMode ? 'Actualizar' : 'Guardar' }}</button>
        </div>
        <div class="d-flex justify-content-end mt-3">
          <button class="btn btn-secondary custom-button" (click)="showInfo()">
            <i class="bi bi-info-circle"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #infoModal let-modal>
  <div class="modal-header fs-6 py-1">
    <h4 class="modal-title">Formulario de Proveedores</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body fs-6 py-2">
    <div class="container-fluid">
      <!-- Introducción -->
      <div class="alert alert-info mb-2 py-2">
        <h5 class="alert-heading">¿Qué es esta pantalla?</h5>
        <p class="mb-0 small">Esta pantalla te permite registrar un proveedor.</p>
      </div>

      <!-- Campos Principales -->
      <div class="card mb-2">
        <div class="card-header py-1">
          <h5 class="mb-0">Datos de Proveedores</h5>
        </div>
        <div class="card-body py-2">
          <ul class="list-group list-group-flush">
            <li class="list-group-item py-1">
              <strong>Campos a ingresar:</strong> Se solicitarán: Nombre, CUIL, Servicio, Contacto, Dirección y Detalles.
            </li>
            <li class="list-group-item py-1">
              <strong>ATENCIÓN:</strong> La opción de GUARDAR solo se habilitará si todos los campos se encuentran correctamente completados.
            </li>
          </ul>
        </div>
      </div>

      <!-- Acciones -->
      <div class="card mb-2">
        <div class="card-header py-1">
          <h5 class="mb-0">Acciones Disponibles</h5>
        </div>
        <div class="card-body py-2">
          <ul class="list-group list-group-flush">
            <li class="list-group-item py-1">
              <strong>Guardar:</strong> En caso de que todos los campos se encuentren correctamente completados se guardará el nuevo proveedor.
            </li>
            <li class="list-group-item py-1">
              <strong>Cancelar:</strong> Se cancela el registro o la actualización del proveedor.
            </li>
          </ul>
        </div>
      </div>

      <!-- Nota (OPCIONAL) -->
      <div class="alert alert-warning py-2 mb-0">
        <h5 class="alert-heading">Nota:</h5>
        <p class="mb-0 small">Asegúrate de verificar la información antes de dar el alta de un proveedor.</p>
      </div>
    </div>
  </div>
  <div class="modal-footer py-2">
    <button type="button" class="btn btn-primary" (click)="modal.close()">Entendido</button>
  </div>
</ng-template>
